* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 3rem 3rem 5% 5%;
    box-shadow: 0 0 0.5rem rgb(0 0 0);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

header {
    background: #0f1313;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0.5rem;
}

header > img {
    display: block;
    max-width: 5%;
    height: auto;
}

nav {
    background: #6f3e42;
    display: flex;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 2rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    background: #fff;
}

section {
    display: flex;
    padding-bottom: 1rem;;
}

article {
    flex: 1;
    padding: 0 0 1rem 1rem;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem rgb(0 0 0);
}

footer {
    display: flex;
    text-align: center;
    color: #f4f4f4;
    padding: 10px 0;
    background: #0f1313;
}

footer div {
    flex: 1;
}

footer div > img {
    display: block;
    max-width: 0.2%;
}