/* CSS STYLESHEET */

/* Color Theme
    * Primary: Dark Cyan #26877F (Logo Color)
    * Complementary: Burgundy #87262E (Navigation Links)
    * Neutral Light: White Smoke #F4F4F4 (Background)
    * Neutral Dark: Graphite #333333 (Text Color)
    * Accent Dark: Ink Black #071A18 (Footer and Header Background)
*/

/* Theme Reference: https://coolors.co/26877f-87262e-f4f4f4-333333-071a18 */

/* ELEMENT STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 3rem 3rem 5% 5%;
    box-shadow: 0 0 0.5rem #000;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

header {
    background: #071a18;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0.5rem;
}

header > img {
    display: block;
    max-width: 5%;
    height: auto;
}

nav {
    background: #f4f4f4;
    display: flex;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 2rem;
}

nav ul li a {
    color: #87262E;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    background: #fff;
}

section {
    display: flex;
    padding-bottom: 1rem;;
}

article {
    flex: 1;
    padding: 0 0 1rem 1rem;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem #000;
}

article img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 2rem;
}

footer {
    display: flex;
    text-align: center;
    color: #f4f4f4;
    padding: 10px 0;
    background: #071a18;
}

footer div {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

footer div > img {
    display: block;
    max-width: 1.5rem;
}

/* CLASS STYLES */

.promotional-banner {
    background-image: url('https://lucky-shrub-by-wanderlee.vercel.app/assets/banner.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.promotional-banner h1 {
    color: #fff;
    text-align: center;
    padding: 5rem 1rem;
    font-size: 4rem;
    text-shadow: 0.2rem 0.2rem 0.4rem #000;
}